(
  resources: {},
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (4.0, 8.0, 4.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_light::point_light::PointLight": (
          color: Srgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          intensity: 1500.0,
          range: 20.0,
          radius: 0.0,
          shadow_maps_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 0.6,
        ),
      },
    ),
		2: (
			components: {
				"bevy_ecs::name::Name": "Robot 1",
				"client::components::robot::RobotMesh": (
					head_color: Srgba((red: 0.5, green: 0.8, blue: 0.5, alpha: 1.0)),
					body_color: Srgba((red: 0.9, green: 0.6, blue: 0.9, alpha: 1.0)),
					eye_color:  Srgba((red: 0.1, green: 0.1, blue: 0.1, alpha: 1.0)),
					arm_color:  Srgba((red: 0.4, green: 0.6, blue: 0.9, alpha: 1.0)),
				),
				"bevy_transform::components::transform::Transform": (
					translation: (0.0, 0.0, 0.0),
					rotation: (0.0, 0.0, 0.0, 1.0),
					scale: (1.0, 1.0, 1.0),
				),
			},
		),
		3: (
			components: {
				"bevy_ecs::name::Name": "Robot 2",
				"client::components::robot::RobotMesh": (
					head_color: Srgba((red: 0.5, green: 0.8, blue: 0.5, alpha: 1.0)),
					body_color: Srgba((red: 0.9, green: 0.0, blue: 0.0, alpha: 1.0)),
					eye_color:  Srgba((red: 0.1, green: 0.1, blue: 0.1, alpha: 1.0)),
					arm_color:  Srgba((red: 0.4, green: 0.6, blue: 0.9, alpha: 1.0)),
				),
				"bevy_transform::components::transform::Transform": (
					translation: (-2.0, 0.0, 0.0),
					rotation: (0.0, 0.0, 0.0, 1.0),
					scale: (1.0, 1.0, 1.0),
				),
			},
		)
  },
)
